[Desktop Entry]
Version=1.0
Type=Application
Name=MS55DD
Comment=MS55DD
Exec=ms55dd
Terminal=false
Categories=System
StartupNotify=true
Icon=/opt/MS55DD/MS55DD.png
